// 颜色定义规范
$color-background: #f8f8f8;
$color-table-head: #e7f0f7;
$color-table-border: #cfd0d1;
$color-button-active: #126dac;
$color-text: #333;
$color-theme: #fff;
$color-span: #999;

//字体定义规范
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;

//间距定义规范
$space: 10px;
